.blogpost {

}

.blogpost:hover .blogpost-preview {
    background-position: -10px -10px;
    min-height: 150px;
    border: solid 5px #404040;
}
.blogpost-title {
    
}

.blogpost-comment-badge {
    
}

.blogpost-preview {
    min-height: 150px;
    border: solid 5px #ddd;
}

.blogpost-intro {

    padding: 2px 5px;
}